.welcome-container {
    width: 50%;
    background-color: #eda847;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding-top: 25px;
    padding-bottom: 100px;
    top: 50%;
    left: 50%;
    transform: translate(0%, 15%);
    border: 5px solid;
}

.welcome-name {
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-decoration: none;
    background-color: white;
    padding-top: 240px;
    padding-bottom: 240px;
    padding-right: 100px;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.welcome-logo {
    padding-left: 5px;
    height: 500px;
    width: 500px;
}

.start-search {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0%, 15%);
    border: thick;
}

.start-search-button {
    border: none;
    outline: none;
    background: #9e4303;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    transition-duration: 0.3s;
    cursor: pointer;
    width: 500px;
    height: 50px;
    font-size: medium;
}

.start-search-button:hover {
    color: #9e4303;
    background-color: #fff;
    border: 1px solid #9e4303;
}
