/* Selector {
    Property: value;
} */

body {
    background-image: url(backgroundimage1.jpeg);
    background-size: cover;
}

h2 {
    color: red;
    text-align: center;
    border: 5px solid purple;
    cursor: pointer;
}

p {
    color: green;
}

li {
    list-style: none;
    display: inline-block;
}