<!--Search Bar-->
<div class="search-container">
    <img class="logo" src="https://static.vecteezy.com/system/resources/previews/005/484/042/original/dog-logo-illustration-free-vector.jpg" alt="" routerLink="/">
    <span class="company-name" routerLink="/">DogSearchApp</span>
    <form class="search-form">
        <input
            class="search-input"
            name="search"
            [(ngModel)] ="search.keyword"
            placeholder="Search"
            id="keyword"
        />
        <button class="search-button" type="submit" (click)="searchYoutube()">Search</button>
    </form>
</div>

<!-- <button (click)="btnClick()">Send to video component</button> -->

<!--Loader-->
<div class="load-container">
    <!-- <hr> -->
    <div class="row" *ngIf="isLoading">
        <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="row" *ngIf="!isLoading && error">
        <p class="text-danger">Error: {{error}}</p>
    </div>
</div>

<!--list of items returned from api-->
<div class="row my-2 g-3 row-cols-1 row-cols-smm2 row-cols-md3 row-cols-lg-4" *ngIf="!isLoading && response.items.length > 0">
    <div class="col" routerLink="/video" (click)="btnClick(item.id.videoId, item.snippet.channelTitle, item.snippet.title)" *ngFor="let item of response.items | paginate:{
        itemsPerPage: tableSize,
        currentPage: page,
        totalItems: count}; let i=index">
        <div class="card h-100">
            <div class="ratio ratio-4x3">
                <iframe class="embed-response-item" [src]="getVideoSource(item.id.videoId)" allowfullscreen></iframe>
            </div>
            <div class="card-body">
                <h5 class="card-channel text-truncate"><b>Channel:</b> {{item.snippet.channelTitle}}</h5>
                <h5 class="card-title text-truncate"><b>Title:</b> {{item.snippet.title}}</h5>
                <h5 class="card-description text-truncate"><b>Description:</b> {{item.snippet.description}}</h5>
            </div>
        </div>
    </div>

    <div>
    <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
    </div>  
</div>