<!--Search Bar-->
<div class="search-container">
    <form class="search-form">
        <span class="logo" routerLink="/">MySearchApp</span>
        <input
            class="search-input"
            name="search"
            ngModel
            placeholder="Search"
        />
        <button class="search-button">Search</button>
    </form>
</div>

<!--Display Youtube Videos from Search-->
<div class="container my-3">
    <div class="row g-3">
        <div class="col-md-3">

        </div>
    </div>
</div>