<!--Search Bar-->
<div class="search-container">
    <form class="search-form">
        <span class="logo" routerLink="/">MySearchApp</span>
        <input
            class="search-input"
            name="search"
            ngModel
            placeholder="Search"
            id="keyword"
        />
        <button class="search-button" type="submit" (click)="searchYoutube()">Search</button>
    </form>
</div>

<!--Loader-->
<div class="load-container">
    <!-- <hr> -->
    <div class="row" *ngIf="isLoading">
        <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="row" *ngIf="!isLoading && error">
        <p class="text-danger">Error: {{error}}</p>
    </div>
</div>

<!--list of items returned from api-->
    <div class="row my-2 g-2 row-cols-1 row-cols-smm2 row-ccols-md3 row-cols-lg-4" *ngIf="!isLoading && response.items.length > 0">
        <div class="col" *ngFor="let item of response.items; let i=index">
            <div class="card h-100">
                <div class="ratio ratio-4x3">
                    <iframe class="embed-response-item" [src]="getVideoSource(item.id.videoId)" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <hr>
                    <h5 class="card-title text-truncate">{{item.snippet.channelTitle}}</h5>
                    <h5 class="card-title text-truncate">{{item.snippet.title}}</h5>
                    <h5 class="card-description text-truncate">{{item.snippet.description}}</h5>
                </div>
                <!-- <div class="card-footer">
                    <span class="float-end">{{item.id.kind}}</span>
                </div> -->
            </div>
        </div>    
    </div>